<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.etsy.android" platformBuildVersionCode="33" platformBuildVersionName="13">
    <permission android:name="com.etsy.android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.etsy.android.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <instrumentation android:name=".EtsyTestRunner" android:targetPackage="com.etsy.android"/>
    <queries>
        <package android:name="com.etsy.android.soe"/>
        <package android:name="com.etsy.android.soe.alpha"/>
        <package android:name="com.phonepe.app"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="com.google.android.apps.nbu.paisa.user"/>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:fullBackupContent="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/etsy" android:name="com.etsy.android.BOEApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/Theme.Etsy">
        <provider android:authorities="com.etsy.android.contentproviders.EtsyProvider" android:exported="false" android:name="com.etsy.android.contentproviders.EtsyProvider"/>
        <provider android:authorities="com.etsy.android.contentproviders.FileProvider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <provider android:authorities="com.etsy.android.purchases" android:enabled="true" android:exported="true" android:name="com.etsy.android.slice.PurchasesSliceProvider">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.app.slice.category.SLICE"/>
            </intent-filter>
        </provider>
        <receiver android:enabled="true" android:exported="true" android:name="com.qualtrics.digital.QualtricsNotificationManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.bugsnag.android.API_KEY" android:value="97759090edfe7f8722f1baaa63dceb8a"/>
        <meta-data android:name="com.usebutton.applicationid" android:value="app-1afabbaf4599120d"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
        <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/firebase_default_icon"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/firebase_default_color"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="DEFAULT_ETSY_CHANNEL_ID"/>
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false"/>
        <activity android:exported="true" android:label="@string/etsy" android:launchMode="singleTop" android:name="com.etsy.android.ui.homescreen.HomescreenTabsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Etsy.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.etsy.android.ui.search.v2.interstitial.SearchInterstitialActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" android:value=".ui.search.v2.interstitial.SearchInterstitialActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.etsy.android.ui.core.ShopAboutVideoActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Etsy.FullScreen.BlackBg" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="orientation|screenSize|uiMode" android:exported="true" android:launchMode="singleTop" android:name="com.etsy.android.ui.user.auth.SignInActivity" android:theme="@style/Theme.Etsy.Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:finishOnTaskLaunch="true" android:name="com.etsy.android.deeplinking.bitly.BitlyActivity" android:noHistory="true" android:theme="@style/Theme.Etsy.Transparent">
            <intent-filter android:autoVerify="true">
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="etsy.me" android:scheme="http"/>
                <data android:host="etsy.me" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:finishOnTaskLaunch="true" android:launchMode="singleTask" android:name="com.etsy.android.ui.nav.NotificationActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@style/Theme.Etsy.Splash">
            <intent-filter>
                <data android:scheme="etsy"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="etsy.app.link" android:scheme="https"/>
                <data android:host="etsy-alternate.app.link" android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="etsy.com"/>
                <data android:host="www.etsy.com"/>
                <data android:pathPattern="/listing/.*"/>
                <data android:pathPattern="/../listing/.*"/>
                <data android:pathPattern="/..-../listing/.*"/>
                <data android:pathPattern="/updates"/>
                <data android:pathPattern="/updates/.*"/>
                <data android:pathPattern="/../updates/.*"/>
                <data android:pathPattern="/..-../updates/.*"/>
                <data android:pathPattern="/people/.*"/>
                <data android:pathPattern="/../people/.*"/>
                <data android:pathPattern="/..-../people/.*"/>
                <data android:pathPattern="/shop/.*"/>
                <data android:pathPattern="/../shop/.*"/>
                <data android:pathPattern="/..-../shop/.*"/>
                <data android:pathPattern="/browse/.*"/>
                <data android:pathPattern="/../browse/.*"/>
                <data android:pathPattern="/..-../browse/.*"/>
                <data android:pathPattern="/browse"/>
                <data android:pathPattern="/../browse"/>
                <data android:pathPattern="/..-../browse"/>
                <data android:pathPattern="/search"/>
                <data android:pathPattern="/search/"/>
                <data android:pathPattern="/search/.*"/>
                <data android:pathPattern="/../search"/>
                <data android:pathPattern="/../search/"/>
                <data android:pathPattern="/../search/.*"/>
                <data android:pathPattern="/..-../search"/>
                <data android:pathPattern="/..-../search/"/>
                <data android:pathPattern="/..-../search/.*"/>
                <data android:pathPattern="/c/.*"/>
                <data android:pathPattern="/../c/.*"/>
                <data android:pathPattern="/..-../c/.*"/>
                <data android:pathPattern="/market/.*"/>
                <data android:pathPattern="/../market/.*"/>
                <data android:pathPattern="/..-../market/.*"/>
                <data android:pathPattern="/cart"/>
                <data android:pathPattern="/promoted-offers/.*"/>
                <data android:pathPattern="/conversations/.*"/>
                <data android:pathPattern="/../conversations/.*"/>
                <data android:pathPattern="/..-../conversations/.*"/>
                <data android:pathPattern="/conversations"/>
                <data android:pathPattern="/../conversations"/>
                <data android:pathPattern="/..-../conversations"/>
                <data android:pathPattern="/your/purchases"/>
                <data android:pathPattern="/../your/purchases"/>
                <data android:pathPattern="/..-../your/purchases"/>
                <data android:pathPattern="/your/purchases/.*/review/.*"/>
                <data android:pathPattern="/../your/purchases/.*/review/.*"/>
                <data android:pathPattern="/..-../your/purchases/.*/review/.*"/>
                <data android:pathPattern="/your/orders/.*/order_tracking/.*"/>
                <data android:pathPattern="/../your/orders/.*/order_tracking/.*"/>
                <data android:pathPattern="/..-../your/orders/.*/order_tracking/.*"/>
                <data android:pathPattern="/your/purchases/.*"/>
                <data android:pathPattern="/../your/purchases/.*"/>
                <data android:pathPattern="/..-../your/purchases/.*"/>
                <data android:pathPattern="/transaction/.*/buyer-photo"/>
                <data android:pathPattern="/../transaction/.*/buyer-photo"/>
                <data android:pathPattern="/..-../transaction/.*/buyer-photo"/>
                <data android:pathPattern="/transaction/.*"/>
                <data android:pathPattern="/../transaction/.*"/>
                <data android:pathPattern="/..-../transaction/.*"/>
                <data android:pathPattern="/featured/.*"/>
                <data android:pathPattern="/../featured/.*"/>
                <data android:pathPattern="/..-../featured/.*"/>
                <data android:pathPattern="/buyonetsy/cart"/>
                <data android:pathPattern="/../buyonetsy/cart"/>
                <data android:pathPattern="/..-../buyonetsy/cart"/>
                <data android:pathPattern="/buyonetsy/people/.*"/>
                <data android:pathPattern="/../buyonetsy/people/.*"/>
                <data android:pathPattern="/..-../buyonetsy/people/.*"/>
                <data android:pathPattern="/buyonetsy/conversations/.*"/>
                <data android:pathPattern="/../buyonetsy/conversations/.*"/>
                <data android:pathPattern="/..-../buyonetsy/conversations/.*"/>
                <data android:pathPattern="/buyonetsy/conversations"/>
                <data android:pathPattern="/../buyonetsy/conversations"/>
                <data android:pathPattern="/..-../buyonetsy/conversations"/>
                <data android:pathPattern="/buyonetsy/shop/.*"/>
                <data android:pathPattern="/../buyonetsy/shop/.*"/>
                <data android:pathPattern="/..-../buyonetsy/shop/.*"/>
                <data android:pathPattern="/signin/etsyapps/magic/.*"/>
                <data android:pathPattern="/cfg/.*"/>
                <data android:pathPattern="/../"/>
                <data android:pathPattern="/.."/>
                <data android:pathPattern="/..-../"/>
                <data android:pathPattern="/..-.."/>
                <data android:path="/"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="https"/>
                <data android:host="etsy.bttn.io"/>
                <data android:pathPattern=".*"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="true" android:name="alias.ImageShare" android:targetActivity="com.etsy.android.ui.nav.NotificationActivity">
            <intent-filter android:label="@string/etsy_lens_share_target_label">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnTaskLaunch="true" android:launchMode="singleTask" android:name="com.etsy.android.ui.cart.CartShortcutActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnTaskLaunch="true" android:launchMode="singleTask" android:name="com.etsy.android.ui.user.purchases.PurchasesShortcutActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnTaskLaunch="true" android:launchMode="singleTask" android:name="com.etsy.android.ui.favorites.FavoritesShortcutActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.etsy.android.ui.EtsyPreferenceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.etsy.android.ui.dialog.TextInfoActivity" android:theme="@style/Theme.Etsy.Transparent"/>
        <activity android:name="com.etsy.android.ui.core.listingnomapper.TextDialogActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Etsy.DialogActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.etsy.android.ui.user.review.CreateReviewActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.etsy.android.ui.BOEActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.etsy.android.lib.toolbar.RecreateReceiver"/>
        <receiver android:exported="false" android:name="com.etsy.android.share.SocialShareBroadcastReceiver"/>
        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource" android:resource="@xml/analytics_global"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDiMb-AqUoRJbm2rlfwMCXoGOSCJwWONFA"/>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="@string/branch_api_key"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="@string/branch_api_test_key"/>
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false"/>
        <receiver android:exported="false" android:name="com.etsy.android.device.LocaleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.qualtrics.digital.QualtricsSurveyActivity"/>
        <activity android:name="com.qualtrics.digital.QualtricsPopOverActivity" android:theme="@style/Theme.Transparent"/>
        <meta-data android:name="com.google.android.actions" android:resource="@xml/actions"/>
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="false"/>
        <service android:exported="false" android:name="com.etsy.android.lib.push.handler.FirebasePushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.etsy.android.lib.network.oauth2.signin.SignInContainerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <receiver android:exported="false" android:name="com.etsy.android.lib.util.CrossProcessSharedPreferences$Receiver">
            <intent-filter>
                <action android:name="com.etsy.android.crossprocesssharedpref.PUT_STRING"/>
                <action android:name="com.etsy.android.crossprocesssharedpref.PUT_INT"/>
                <action android:name="com.etsy.android.crossprocesssharedpref.PUT_LONG"/>
                <action android:name="com.etsy.android.crossprocesssharedpref.PUT_FLOAT"/>
                <action android:name="com.etsy.android.crossprocesssharedpref.PUT_BOOLEAN"/>
                <action android:name="com.etsy.android.crossprocesssharedpref.REMOVE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.etsy.android.lib.push.handler.BrazeReceiver">
            <intent-filter>
                <action android:name="com.braze.push.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_OPENED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.etsy.android" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.paypal.pyplcheckout.home.view.activities.PYPLHomeActivity" android:screenOrientation="portrait" android:taskAffinity="com.pyplcheckout.task" android:theme="@style/PYPLAppTheme"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.paypal.pyplcheckout.home.view.activities.PYPLInitiateCheckoutActivity" android:screenOrientation="portrait" android:theme="@style/AppFullScreenTheme">
            <intent-filter android:autoVerify="true">
                <data android:host="paypalxo" android:scheme="com.etsy.android"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.paypal.openid.RedirectUriReceiverActivity" android:screenOrientation="portrait" android:theme="@style/PYPLAppTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="paypalpay" android:scheme="nativexo"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:launchMode="singleTop" android:name="com.paypal.pyplcheckout.threeds.ThreeDS20Activity" android:screenOrientation="portrait" android:taskAffinity="com.pyplcheckout.threeds" android:theme="@style/PYPLAppTheme"/>
        <activity android:exported="true" android:multiprocess="true" android:name="androidx.fragment.app.testing.FragmentScenario$EmptyFragmentActivity" android:taskAffinity="" android:theme="@style/FragmentScenarioEmptyFragmentActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.paypal.authcore.authentication.TokenActivity"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.paypal.openid.AuthorizationManagementActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity"/>
        <activity android:exported="false" android:name="com.appboy.ui.AppboyWebViewActivity"/>
        <activity android:exported="false" android:name="com.braze.ui.BrazeWebViewActivity"/>
        <activity android:exported="false" android:name="com.appboy.ui.activities.AppboyFeedActivity"/>
        <activity android:exported="false" android:name="com.appboy.ui.activities.AppboyContentCardsActivity"/>
        <activity android:exported="false" android:name="com.braze.ui.activities.ContentCardsActivity"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.braze.push.NotificationTrampolineActivity" android:theme="@style/Braze.PushTrampoline.Transparent"/>
        <receiver android:exported="false" android:name="com.braze.push.BrazePushReceiver"/>
        <receiver android:exported="false" android:name="com.braze.receivers.BrazeActionReceiver"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.ktx.FirebasePerfKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.etsy.android.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <activity android:excludeFromRecents="true" android:name="androidx.slice.compat.SlicePermissionActivity"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.etsy.android.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.etsy.android.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.etsy.android.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService">
            <meta-data android:name="com.google.android.play.core.assetpacks.versionCode" android:value="11003"/>
        </service>
        <service android:enabled="false" android:exported="false" android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.etsy.android.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.etsy.android.CCInitProvider" android:enabled="true" android:exported="false" android:name="com.cardinalcommerce.shared.cs.utils.CCInitProvider"/>
        <activity android:name="com.cardinalcommerce.shared.cs.userinterfaces.ChallengeHTMLView" android:theme="@style/CardinalSDKTheme.ActionBar"/>
        <activity android:name="com.cardinalcommerce.shared.cs.userinterfaces.ChallengeNativeView" android:theme="@style/CardinalSDKTheme.ActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <meta-data android:name="com.bugsnag.android.BUILD_UUID" android:value="a5a9839b-acfb-48b8-944c-522b2d8f5ded"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>